html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav {
  background-color: #f7f2ee;
}

body {
  margin-bottom: 60px;
  background-color: #e7decc;
}

footer {
  background-color: #f7f2ee
}

.main-col {
  margin-top: 5%;
  border-radius: 3px;
  /*box-shadow: 0 8px 16px rgba(0,0,0,0.2); */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  background-color: #f7f2ee;
}

.card-style {
  width: 20rem;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3) inset;
}

.title-border{
  border-bottom: 1px solid white;
}
