@{
    ViewData["Title"] = "Team Information";
}
@model HomeworkOneProject.Models.TeamInfoModel;

<div class="row">
    <div class="col-md-2 col-sm-1" id="left-col">
        <!-- Whitespace -->
    </div>
    <div class="col-md-8 col-sm-10 main-col">
        <div class="content text-center">
            <h1 class="display-4">Random Team Generator</h1>
            <p>Please enter your team member names with one name per line</p>
        </div>
        <form asp-controller="Home" asp-action="TeamBuilder" method="post">
            <div class="form-group text-center">
                <label for="teamNames">Enter Member Names:</label>
                <textarea class="form-control my-4" asp-for="initialList" id="teamNames" rows="10"></textarea>
                <span asp-validation-for="initialList" class="text-danger d-block"></span>
                <label for="teamsize">Team Size:</label>
                <input type="number" id="teamsize" asp-for="teamSize" name="teamsize" min="2" max="10">
                <span asp-validation-for="teamSize" class="text-danger d-block"></span>
                <input class="btn btn-primary my-4" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-1" id="right-col">
        <!-- Whitespace -->
    </div>
</div>
